<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Buildings</title>
    <link rel="stylesheet" href="styles/cleaner-page1.css">
</head>
<body>
    <% buildings.forEach((building)=> {%>
        <form action="/building" method="post">
            <input type="hidden" name="buildingId" value="<%=building._id%>">
            <input type="hidden" name="buildingName" value="<%=building.building_name%>">
            <input type="hidden" name="controlledBy" value="<%= building.controlled_by %>">
            <button class="card">
                <h2 class="building">
                    <%= building.building_name %>
                </h2>
                <p>Click to go to <%= building.building_name %></p>
            </button>
        </form>
    <% }); %>
</body>
</html>